<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>




Was sind die Ziele von FLIPGEMSTONES.COM?

Der Name FLIPGEMSTONES.COM setzt sich aus dem englischen Verb “flip” und “gemstones” zusammen. Flip bedeutet “to resell, especially quickly”, also etwas schnell weiterzuverkaufen. Bekanntermassen benötigen Edelsteine manchmal etwas Zeit um einen neuen Käufer zu finden. Die Nachfrage ist jedoch da, und die Nachfrage nach Qualitätssteine wächst laufend.

Aus genau diesem Grund wurde FLIPGEMSTONES.COM ins Leben gerufen. Edelsteine sollen nicht im Tresor lagern, sondern ihren Weg in ein schönes Schmuckstück finden. FLIPGEMSTONES.COM soll einer breiten Interessensgemeinschaft den Zugang zu einem umfangreichen Angebot an Edelsteinen ermöglichen. Das Hauptaugenmerk liegt auf Farbedelsteinen, aber auch Diamanten und Schmuckstück werden ihren Platz auf der Plattform erhalten.

Ab wann wird FLIPGEMSTONES.COM online sein?

Die Plattform wird in rund einem Monat online sein (Beta Version). Jedoch versuchen wir schon früher Kunden und Käufer zusammen zu bringen.

Wer entwickelt FLIPGEMSTONES.COM?

Ich war Leiter Marketing und Verkauf im Bereich GYRSTONES.COM und habe GEMPORION.COM national und international bekannt gemacht. Durch diese Prozesse habe ich viele Erfahrungen gesammelt und den Edelsteinmarkt kennen gelernt. Langfristig soll FLIPGEMSTONES.COM die Referenz für Farbsteine im Internet und als Hauptumschlagsplatz für den Schweizer Markt werden.

Ich studierte Betriebswirtschaft in der Schweiz und England und erhielt meine gemmologische Ausbildung bei GEM-A in London. Meine Affinität zu IT Themen und zur Gemmologie haben mich dazu bewogen dieses Projekt in Angriff zu nehmen und hoffe auf rege Nutzung.

Fragen? Anregungen? Kritik? Bitte melden!