<div class="container nav70">

<div class="page-header">
  	<h1 class="aboutheading">Increase the visibility of gemstones <small>Regional. Worldwide.</small></h1>
</div>

<span class="label label-primary">What is Flipgemstones?</span>
<p class="textabout">Put it simply, a platform where professionals can list their stones and offer them to potential buyer on a regional and global level.

Goldsmiths and dealers need to have an expanded range of gemstones available to satisfy the customers needs and tastes. This involves high costs regarding inventory and a certain risk of keeping the stones for a longer period that initially intended. 

Flipgemstones goal is to make gemstones visible so that people can find them. Having a good network is key, nevertheless almost all networks have limitations and are restricted to certain people or areas. With our platform, the stones can be put on display for new buyers. In the end, Flipgemstones helps to increase the visibility of the gemstones, but also promote your business and brand.</p>

<span class="label label-primary">Flipgemstones is fairly new, how can I take advantages?</span>

<p class="textabout">True, Flipgemstones is only online since February 2015 as a personal project. We will promote the platform from the beginning in Switzerland, but also globally. If you taking part from the beginning, you will benefit from market coverage as well as campaigns
 at the early stage.  Therefore, register today and get an account.

Can anyone become a member of Flipgemstones?
At the moment we focus on the business-to-business segment. If you are within the industry feel free to register and create an account.
Nevertheless, everyone else can sign up for our newsletter and get information about the gemstones and development of the platform.</p>

<span class="label label-primary">How does a membership work?</span>

<p class="textabout">Every registration goes through a process. First, we check the submitted information and may ask for prove of business activities and other additional information. One of our primary goal is to provide a safe and secure platform for everyone.

Once you get approved you can access the database and send requests to sellers. They will then contact you for further information.

If you want to offer your stones, you have to get a premium account. There you have the option to create gemstones and use tool like CSV/Excel import.</p>

<span class="label label-primary">I find this project very interesting, how can I participate more actively?</span>

<p class="textabouttop">We are always looking for support in terms of investment as well as other resources and advise. First of all, if you think we can improve in a certain area, please let us know.<p>

<p class="textaboutbottom">If you want to become more active or become an investor, contact us here.</p>


<span class="label label-primary">How develops Flipgemstones?</span>
<p class="textabouttop">My Name is Oliver Jones and I am based in Switzerland. After finishing my studies in Switzerland and the UK, I worked in Cambodia in a PE role where I first got introduced to gemstones. Back in Switzerland, I worked with Gyr Precious Metals Ltd. between 2012 and 2014. Further, I finished my Diamond Diploma and Cert. in Gemmology at GEM-A in London.</p>

<p class="textaboutbottom">In 2015, due to the interest in web applications and gemmology, I decided to start Flipgemstones to promote gemstones and help goldsmith to access gemstones easier and more convenient.</p>


</div>





