<div class="container nav70">
<h2>Disclaimer (Impressum)</h2>

<p>Oliver Jones, Goldermattenstrasse 41, 6312 Steinhausen, Switzerland</p>

<p>Phone: +41 (0) 44 586 33 31 Email: info@flipgemstones.com</p>

<p>Copyright by Oliver Jones</p>

<p>No stones are sold through the websites directly. The platform helps to introduce various parties only.</p>

Credits: 

<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a>, <a href="http://www.simpleicon.com" title="SimpleIcon">SimpleIcon</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>         is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
<br>
<br>
</div>