%h1 Conversations
%h2 Inbox
%ul= render collection: current_user.mailbox.inbox, partial: 'conversations/conversation'
%h2 Sentbox
%ul= render collection: current_user.mailbox.sentbox, partial: 'conversations/conversation'
%h2 Trash
%ul= render collection: current_user.mailbox.trash, partial: 'conversations/conversation'

