/* CSS FOR HOMEPAGE */

body {
	background-color: #EBEBEB;
}



.bluesignup {
	background-color: #81BEF7;
	border-color: #81BEF7;
}

.imagelogo {
	width: 130px;
	height: auto;
}

.navbar-brand {
	padding-top: 3%;
}


.logopos {
	margin-top: 50%;
}

.nav70 {
	margin: 0 auto;
	text-align: left;
}

.container-fluid {
	width: 70%;
	margin: 0 auto;
}


.jumbotron {
	background-image: image-url('homebackground.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 25%;
}

.advantagespart h1 {
	margin-bottom: 20px;
}

.advpoint h3 {
	margin-bottom: 2%;
}

.categories h1,
.headadv h1 {
	color: #81BEF7;
	margin-bottom: 7%;
	margin-top: 5%;
}

.imageadv {
	width: 130px;
	height: auto;
	text-align: center;
}

.Brand {
	width: 5%;
	height: auto;
}

.spanheading {
   	color: #fff;
}

.spansub {
   	color: #fff;
}

.imgshowgem {
	border: solid 1px #CCC; 
	-moz-box-shadow: 5px 5px 0px #999; 
	-webkit-box-shadow: 5px 5px 0px #999; 
	box-shadow: 5px 5px 0px #999;
}

.label-primary {
	background-color: #81BEF7;
	color: black;
	padding: 10px 30px;
	font-size: 130%;
}

.textabout {
	padding-top: 3%;
	padding-bottom: 3%;
}

.textabouttop {
	padding-top: 3%;
}

.textaboutbottom {
	padding-bottom: 3%;
}

.aboutheading {
	font-size: 30px;
}

.dropdown {
	background-color: #81BEF7;
}
.footer_text {
	margin-top: 10%;
}


table .vert-align {
 	vertical-align: middle;
 }

/* Sticky Footer */

.text-muted {
	margin-top: 5%;
}

@media (max-width: 400px) { 
.smalldevice {
	display: none;
}
 }

.heading_cat {
 	color: #81BEF7;
 }


