<div class="container>"
<h2>Upgrade your account today!</h2>

<p>Add functionality and scope to your FLIPGEMSTONES.COM account. Upgrade to a Silver or Gold account to get additional function and benefits!</p>
<br>


<div class="container">

<div class="row">
  <div class="col-md-4">
  <div class="panel panel-danger">
     <div class="panel-heading"><h3 class="text-center">SILVER PLAN</h3></div>
         <div class="panel-body text-center">
      <p class="lead" style="font-size:40px"><strong>CHF 90 / Year</strong></p>
    </div>
                       <ul class="list-group list-group-flush text-center">
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Extended Filter</li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Upload up to 50 stones</li>
              </ul>
    <div class="panel-footer">
     <%= form_tag charges_path do %>
   <h4>Upgrade Now!</h4>
   <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount=<%= @stripe_btn_data[:amount] %> data-description=="<%= @stripe_btn_data[:description] %>" ></script>
 <% end %>
  </div>
 </div>

  </div>
   <div class="col-md-4">
  <div class="panel panel-info">
     <div class="panel-heading"><h3 class="text-center">GOLD PLAN</h3></div>
         <div class="panel-body text-center">
      <p class="lead" style="font-size:40px"><strong>CHF 499.00 / Year</strong></p>
    </div>
                       <ul class="list-group list-group-flush text-center">
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited Lisitings</li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Upload function (XLS/CSV)</li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Extended Filter</li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> We upload your first batch of listings</li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Premium Support</li>
            </ul>
    <div class="panel-footer">
   <h2>Coming Soon!</h2>
  </div>
 </div>

  </div>
   <div class="col-md-4">



  </div>
  </div>
</div>
</div>
