<%= render 'layouts/olark' %>
<footer class="footer">
      <div class="container nav70">
        <p class="text-muted">Copyright &copy; Oliver Jones 2015 <%= link_to "Disclaimer (Impressum)", welcome_imprint_path %> |  <%= link_to "Terms and Conditions", welcome_terms_and_conditions_path %></p>
      </div>
    </footer>